<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EtereaTesis2"
        tools:targetApi="31">
        <activity
            android:name=".ScanUPCActivity"
            android:exported="false" />
        <activity
            android:name=".DetalleProducto"
            android:exported="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".VerPerfil"
            android:exported="false" />
        <activity
            android:name=".SobreNosotros"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Promociones"
            android:exported="false" />
        <activity
            android:name=".PreguntasFrecuentes"
            android:exported="false" />
        <activity
            android:name=".Perfumes"
            android:exported="false" />
        <activity
            android:name=".MisCompras"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpGlYTaOFGUGp4PkJRioV3ivXLXkq2zkU" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MailSender"
            android:exported="false" />
        <activity
            android:name=".Login2"
            android:exported="false" />
        <activity
            android:name=".FacturaDetalleActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPerfumeActivity"
            android:exported="false" />
        <activity
            android:name=".DetallePromocion"
            android:exported="false" />
        <activity
            android:name=".DetalleCompra"
            android:exported="false" />
        <activity
            android:name=".ConnectionClass"
            android:exported="false" />
        <activity
            android:name=".ComboItem"
            android:exported="false" />
        <activity
            android:name=".CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarPerfume"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>